#header{
    background-color: #1da1f2;
    height: 175px;
    top: 46px;
    background-size: cover;
    background-position: center;
}
.extra-nav-bar{
    position: relative;
    height: 50px;
    background-color: $white-color; 
    top: 45px;
    
    .container{
        padding: 0;
    }
    .cta-button{
        z-index: 3;
        text-align: center;
        margin-top: 6px;
        background-color: transparent;
        border: 2px solid #1da1f2;
        color: #1da1f2;
        border-radius: 25px;
        font-weight: bold;
        padding: 9px 20px;
    }
}
.mytweets{
    top: 110px !important;
    #left-column{
        .avatar-extra-big{
            border-radius: 100%;
            border: 5px solid $white-color;
            position: relative;
            margin-top: -160px;
            margin-bottom: 20px;
            width: 200px;
            height: 200px;
            background-size: cover;
            background-position: center;
            background-color: #1da1f2;
        }
        h3{
            font-family: "Segoe UI",Arial,sans-serif;
            font-size: 1.4rem;
            font-weight: bold;
            position: relative;
            margin-top: 10px;
            margin-bottom: 3px;
        }
        span{
            font-family: "Segoe UI",Arial,sans-serif;
            font-size: 1.1rem;
            color: #657786;
            position: relative;
        }
        p{
            font-size: 0.9rem;
            line-height: 1.4rem;
            padding-top: 10px;
        }
    }
    #middle-column{
        margin-bottom: 50px;
        padding-right: 0;

        #no-tweets{
            padding: 15px 20px;
            background-color: #fff;
            font-family: "Segoe UI", Arial, sans-serif;
        }
        #theForm{
            margin-bottom: 30px;
        }
        .tweet-block, .table>tbody>tr>td{
            border-top: 1px solid #e6ecf0 !important;
            padding: 20px 25px !important;
            background-color: $white-color;
            font-family: "Segoe UI", Arial, sans-serif;

            small{
                font-size: 0.8rem;
                position: absolute;
                bottom: -9px;
            }
            .avatar-big{
                position: relative;
                float: left;
                display: block;
                border-radius: 100%;
                width: 72px;
                height: 72px;
                left: -20px;
                background-size: cover;
                background-position: center;
                border: 2px solid $white-color;
            }
            .userthings{
                b{
                    color: #000;
                }
                padding-bottom: 7px;
                span{
                    font-size: 0.9rem;
                }
                .times{
                    position: absolute;
                    right: -20px;
                    top: 4px;
                    font-size: 0.7rem;
                    color: #8e8e8e;
                }
            }
            .tweetinsidecontent{
                font-size: 0.9rem;
                padding-bottom: 20px;
            }
        }
        .fa-heart-o, .fa-heart{
                margin-right: 10px;
                font-size: 1.2rem;
                
                &:hover{
                    color: red;
                    text-decoration: none;
                }
                &:focus{
                    text-decoration: none;
                }
            }
            .fa-heart{
                color: red;
            }
    }
}