h1,h2,h3,h4,h5,h6{
  font-family: $header-font;
  color: $black-color;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1rem;
}
h6{
  font-size: 1rem;
}
p{
  margin-bottom: 20px;
}
p, li {
  font-family: $paragraph-font;
  font-size: 1.6rem;
  line-height: 1.2rem;
}
.highlight{
  color: $primary-color;
  font-weight: bold;
}