<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="App"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link href="styles/style.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" />
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
        
        <script src="angular/angular.min.js"></script>
        <script src="angular/app.js"></script>
        <script src="angular/controllers/profileController.js"></script>
        <script src="angular/controllers/tweetController.js"></script>
        <script src="angular/controllers/userController.js"></script>
        <script src="angular/services/profileService.js"></script>
        <script src="angular/services/tweetService.js"></script>
        <script src="angular/services/userService.js"></script>
        <script>
            $( document ).ready(function() {
                var firstTab = $("#firstTab > .tab-pane");
                var secondTab = $("#secondTab > .tab-pane");
                var thirdTab = $("#thirdTab > .tab-pane");
                firstTab.css("display", "block");
                
                $( "#activateFirst" ).click(function() {
                    console.log('1');
                    firstTab.css("display", "block");
                    secondTab.css("display", "none");
                    thirdTab.css("display", "none");
                });
                $( "#activateSecond" ).click(function() {
                    console.log('2');
                    firstTab.css("display", "none");
                    secondTab.css("display", "block");
                    thirdTab.css("display", "none");
                });
                $( "#activateThird" ).click(function() {
                    console.log('3');
                    firstTab.css("display", "none");
                    secondTab.css("display", "none");
                    thirdTab.css("display", "block");
                });
            });
        </script>
        
        <title>Twitter</title>
    </head>
    
    <body ng-controller="userController" ng-init="initUserTimeline();">
    <div ng-controller="tweetController">
        <div id="navigation" class="col-xs-12">
            <div class="container">
                <span id="logo" class="fa fa-twitter" />
                <ul id="left">
                    <li>
                        <a href="homepage.xhtml">
                            <span class="fa fa-home"></span>
                            Startpagina
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-bell-o"></span>
                            Meldingen
                        </a>
                    </li>
                    <li>
                        <a href="users.xhtml">
                            <span class="fa fa-users"></span>
                            Gebruikers
                        </a>
                    </li>
                </ul>
                <ul id="right">
                    <li>
                        <h:form>
                            <h:commandLink id="logoutBtn" action="#{authBean.doLogout()}">
                                Uitloggen
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <a class="avatar" href="mytweets.xhtml" style="background-image: url(uploads/{{ object.profile.avatar }})"></a>
                    </li>
                </ul>
            </div>    
        </div>   
        
        <div id="content-wrapper" class="container">
            <div id="content" class="col-xs-12">
                <div class="col-xs-3" id="left-column">
                    <div id="profile-block" class="col-xs-12 no-padding">
                        <div id="top" style="background-image: url(uploads/{{ object.profile.image }})"></div>
                        <div id="bottom" class="col-xs-12 no-padding">
                            <a href="mytweets.xhtml" class="avatar-big" style="background-image: url(uploads/{{ object.profile.avatar }})"></a>
                            <h3>{{ object.firstname }} {{ object.lastname }}</h3>
                            <span>{{ object.username }}</span>
                            <div class="clearfix"></div>
                            <a href="mytweets.xhtml" class="col-xs-4 no-padding">
                                <h6>Tweets</h6>
                                <div ng-if="object.tweets.length > 0">
                                   <span class="counter">{{ object.tweets.length }}</span> 
                                </div>
                                <div ng-if="object.tweets.length === 0">
                                   <span class="counter">0</span> 
                                </div>
                            </a>
                            <a href="#" class="col-xs-4 no-padding">
                                <h6>Following</h6>
                                <div>
                                    <span class="counter">{{ followingSize }}</span>
                                </div>
                            </a>
                            <a href="#" class="col-xs-4 no-padding">
                                <h6>Followers</h6>
                                <div>
                                    <span class="counter">{{ followersSize }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div id="tweet-box" class="col-xs-12">
                        <h1>What's happening?</h1>
                        <div>
                            <textarea id="content" ng-model="tweet.content" required="true" rows="5" cols="30"></textarea>
                            <div ng-click="addTweet(object.id)" class="cta-button">POST TWEET</div>
                        </div>
                    </div>
                </div>
               
                <div class="col-xs-6" id="middle-column">
                    <div class="search-wrapper">
                        <form class="page-header">
                            <div class="input-wrapper">
                                <form>
                                    <input ng-model="searchTweetValue" type="text" placeholder="Search for tweets..."></input>
                                    <button ng-click="searchTweets(searchTweetValue)" class="btn btn-default">
                                        <i class="fa fa-search"></i> 
                                    </button>
                                </form>
                            </div>    
                        </form>
                    </div>
                <ul  class="nav nav-pills">
                    <li class="active">
                        <a id="activateFirst" data-toggle="tab">Timeline</a>
                    </li>
                    <li>
                        <a id="activateSecond" data-toggle="tab">Mentions</a>
                    </li>
                    <li>
                        <a id="activateThird" data-toggle="tab">Favorites</a>
                    </li>
                    </ul>
                    <div id="firstTab" class="tab-content clearfix">
                        <div class="tab-pane">
                            <form>
                                <div ng-repeat="item in timelineTweets track by $index" id="tweetsTable" class="table" >
                                    <div class="tweet-block col-xs-12 no-padding">
                                        <div class="col-xs-2">
                                            <a href="user.xhtml?userID={{item.user.id}}" class="avatar-big" style="background-image: url(uploads/{{item.user.profile.avatar}})"></a>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="userthings col-xs-12 no-padding">
                                                <b>{{ item.user.firstname }} {{ item.user.lastname }}</b>
                                                <span>@{{ item.user.username }}</span>
                                                <span class="times">
                                                    {{ item.created_at }}
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="tweetinsidecontent col-xs-12 no-padding">
                                                {{ item.content }}
                                                <br/><br/>
                                                <small>  
                                                    <div id="favoriteBtn" ng-click="addFavoriteTweet(item.user.id,item.id)">
                                                        <span class="fa fa-heart-o"></span>
                                                    </div>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                        </div>
                        <div id="secondTab" class="tab-content clearfix">
			  <div class="tab-pane">
                            <div ng-if="object.mentions.length > 0">
                            <div class="table" ng-repeat="mention in object.mentions track by $index">
                                <div class="tweet-block col-xs-12 no-padding">
                                <div class="col-xs-2">
                                    <a href="user.xhtml?userID={{ mention.user.id }}" class="avatar-big" style="background-image: url(uploads/{{ mention.user.profile.avatar }})"></a>
                                </div>
                                <div class="col-xs-10">
                                    <div class="userthings col-xs-12 no-padding">
                                        <b>{{ mention.user.firstname }} {{ mention.user.lastname }}</b>
                                        <span>@{{ mention.user.username }}</span>
                                        <span class="times">
                                            {{ mention.created_at }}                                           
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="tweetinsidecontent col-xs-12 no-padding">
                                        {{ mention.content }}
                                        <br/><br/>
                                    </div>
                                </div>
                                </div>
                                <div ng-if="object.mentions.length === 0">
                                    <div id="no-mentions">
                                        Deze user heeft nog geen mentions
                                    </div>
                                </div>   
                            </div>  
                            </div>      
                          </div>
                        </div>    
                        <div id="thirdTab" class="tab-content clearfix">
			  <div class="tab-pane">
                            <div ng-if="object.favorites.length > 0">
                            <div class="table" ng-repeat="favorite in object.favorites track by $index">
                                
                                <form id="favoriteForm">
                                    <div class="tweet-block col-xs-12 no-padding">
                                    <div class="col-xs-2">
                                        <a href="user.xhtml?userID={{ favorite.user.id }}" class="avatar-big" style="background-image: url(uploads/{{favorite.user.profile.avatar}}"></a>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="userthings col-xs-12 no-padding">
                                            <b>{{ favorite.user.firstname }} {{ favorite.user.lastname }}</b>
                                            <span>@{{ favorite.user.username }}</span>
                                            <span class="times">
                                                {{ favorite.created_at }}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="tweetinsidecontent col-xs-12 no-padding">
                                            {{ favorite.content }}
                                            <br/><br/>
                                            <small>  
                                                <div id="favoriteBtn" ng-click="removeFavoriteTweet(favorite.user.id, favorite.id);">
                                                    <span class="fa fa-heart"></span>
                                                </div>
                                            </small>
                                        </div>
                                    </div>
                                    </div>    
                                </form>    
                                <div ng-if="object.favorites.length === 0">
                                    <div id="no-mentions">
                                        Deze user heeft nog geen favorite tweets
                                    </div>
                                </div>
                            </div>
                            </div>    
                          </div>
                        </div>    
                    </div>

                <div class="col-xs-3 no-padding-right" id="right-column">
                    <div class="col-xs-12" id="trends">
                        <h3>Trends</h3>
                        <div id="timeline">
                            <form>
                                <div class="table" ng-repeat="trend in trends">
                                    #{{ trend.subject }}
                                </div>
                            </form>
                        </div>
                        <div ng-if="trends.length === 0">
                            Er zijn momenteel geen trends
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>