<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="App"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link href="styles/style.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" />
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
        
        <script src="angular/angular.min.js"></script>
        <script src="angular/app.js"></script>
        <script src="angular/controllers/profileController.js"></script>
        <script src="angular/controllers/tweetController.js"></script>
        <script src="angular/controllers/userController.js"></script>
        <script src="angular/services/profileService.js"></script>
        <script src="angular/services/tweetService.js"></script>
        <script src="angular/services/userService.js"></script>    
        
        <title>Twitter</title>
    </head>
    
    <body ng-controller="userController" ng-init="initOtherUserTimeline();">
    <div ng-controller="tweetController">
        <div id="navigation" class="col-xs-12">
            <div class="container">
                <span id="logo" class="fa fa-twitter" />
                <ul id="left">
                    <li>
                        <a href="homepage.xhtml">
                            <span class="fa fa-home"></span>
                            Startpagina
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-bell-o"></span>
                            Meldingen
                        </a>
                    </li>
                    <li>
                        <a href="users.xhtml">
                            <span class="fa fa-users"></span>
                            Gebruikers
                        </a>
                    </li>
                </ul>
                <ul id="right">
                    
                </ul>
            </div>    
        </div>   
        
        <div id="content-wrapper" class="container">
            <div id="content" class="col-xs-12">
                <div class="col-xs-3" id="left-column">
                    <div id="profile-block" class="col-xs-12 no-padding">
                        <div id="top" style="background-image: url(uploads/{{ object.profile.image }})"></div>
                        <div id="bottom" class="col-xs-12 no-padding">
                            <a href="mytweets.xhtml" class="avatar-big" style="background-image: url(uploads/{{ object.profile.avatar }})"></a>
                            <h3>{{ object.firstname }} {{ object.lastname }}</h3>
                            <span>{{ object.username }}</span>
                            <div class="clearfix"></div>
                            <a href="mytweets.xhtml" class="col-xs-4 no-padding">
                                <h6>Tweets</h6>
                                <div ng-if="object.tweets.length > 0">
                                   <span class="counter">{{ object.tweets.length }}</span> 
                                </div>
                                <div ng-if="object.tweets.length === 0">
                                   <span class="counter">0</span> 
                                </div>
                            </a>
                            <a href="#" class="col-xs-4 no-padding">
                                <h6>Following</h6>
                                <div>
                                    <span class="counter">{{ followingSize }}</span>
                                </div>
                            </a>
                            <a href="#" class="col-xs-4 no-padding">
                                <h6>Followers</h6>
                                <div>
                                    <span class="counter">{{ followersSize }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
               
                <div class="col-xs-6" id="middle-column">
                    
                    <div id="firstTab" class="tab-content clearfix">
                        <div class="tab-pane active">
                            <form>
                                <div ng-repeat="item in timelineTweets track by $index" id="tweetsTable" class="table" >
                                    <div class="tweet-block col-xs-12 no-padding">
                                        <div class="col-xs-2">
                                            <a href="user.xhtml?userID={{item.user.id}}" class="avatar-big" style="background-image: url(uploads/{{item.user.profile.avatar}})"></a>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="userthings col-xs-12 no-padding">
                                                <b>{{ item.user.firstname }} {{ item.user.lastname }}</b>
                                                <span>@{{ item.user.username }}</span>
                                                <span class="times">
                                                    {{ item.created_at }}
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="tweetinsidecontent col-xs-12 no-padding">
                                                {{ item.content }}
                                                <br/><br/>
                                                <small>  
                                                    <div id="favoriteBtn" ng-click="addFavoriteTweet(item.user.id,item.id)">
                                                        <span class="fa fa-heart-o"></span>
                                                    </div>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </body>
</html>