<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="App"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link href="styles/style.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" />
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
        
        <script src="angular/angular.min.js"></script>
        <script src="angular/app.js"></script>
        <script src="angular/controllers/profileController.js"></script>
        <script src="angular/controllers/tweetController.js"></script>
        <script src="angular/controllers/userController.js"></script>
        <script src="angular/services/profileService.js"></script>
        <script src="angular/services/tweetService.js"></script>
        <script src="angular/services/userService.js"></script>
        
        <title>Twitter - Users</title>
    </head>
    
    <body ng-controller="userController" ng-init="initUsersList();">
        <div id="navigation" class="col-xs-12">
            <div class="container">
                <span id="logo" class="fa fa-twitter" />
                <ul id="left">
                    <li>
                        <a href="homepage.xhtml">
                            <span class="fa fa-home"></span>
                            Startpagina
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-bell-o"></span>
                            Meldingen
                        </a>
                    </li>
                    <li>
                        <a href="users.xhtml">
                            <span class="fa fa-users"></span>
                            Gebruikers
                        </a>
                    </li>
                </ul>
                <ul id="right">
                    <li>
                        <h:form>
                            <h:commandLink id="logoutBtn" action="#{authBean.doLogout()}">
                                Uitloggen
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <a class="avatar" href="mytweets.xhtml" style="background-image: url(uploads/{{ object.profile.avatar }})"></a>
                    </li>
                </ul>
            </div>    
        </div>   
        
        <div id="content-wrapper" class="mytweets container">
            <div id="content" class="col-xs-12">   
                <div class="col-xs-12" id="right-column">
                    <div class="search-wrapper col-xs-6 col-xs-push-3">
                        <form class="page-header">
                            <div class="input-wrapper">
                                <form>
                                    <input ng-model="searchUserValue" type="text" placeholder="Search for users..."></input>
                                    <button ng-click="searchUsers(searchUserValue)" class="btn btn-default">
                                        <i class="fa fa-search"></i> 
                                    </button>
                                </form>
                            </div>
                        </form>
                    </div>        
                    <div class="clearfix"></div>
                    <div class="col-xs-12" id="following-follower-section" ng-init="getLoggedInUser();">
                        <div ng-repeat="user in data track by $index">
                            <div ng-if="user.id !== object.id" class="col-xs-3 no-padding-left">
                                <div class="profile-block col-xs-12 no-padding" style="height: 280px;">
                                    <div id="top" style="background-image: url(uploads/{{ user.profile.image }})"></div>
                                    <div id="bottom" class="col-xs-12 no-padding">
                                        <a href="user.xhtml?userID={{ user.id }}" class="avatar-big" style="background-image: url(uploads/{{ user.profile.avatar }})"></a>
                                        <h3>{{user.firstname}} {{user.lastname}}</h3>
                                        <span>@{{user.username}}</span>
                                        <p>{{user.profile.biography}}</p>
                                            
                                            
<!--                                            <div ng-if="isFollowing(user.id)"></div>
                                            <div ng-if="!isFollowing(user.id)"></div>-->
                                            <div ng-if="!isFollowing(object.id, user.id)">
                                                <div id="followBtn" ng-click="addFollowing(object.id, user.id)" class="cta-button col-xs-12">
                                                    Volgen
                                                </div>
                                            </div>
                                            <div ng-if="isFollowing(object.id, user.id)">
                                                <div id="followBtn" ng-click="removeFollowing(object.id, user.id)" class="cta-button col-xs-12">
                                                    Ontvolgen
                                                </div>
                                            </div>
                                            
<!--                                                <div id="followBtn" ng-click="removeFollowing(user.id)" class="cta-button col-xs-12">
                                                    Ontvolgen
                                                <div>-->
                                       
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </body>
</html>    